{% extends 'base.html' %}
{% load jsonify %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div id="income-chart"></div>
      <div id="income_with_changes"></div>
      <div id="income-change-chart"></div>
      <div id="income-change-percent-chart"></div>
    </div>
  </div>
{% endblock %}

{% block footer-js %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.1.7/highcharts.js"></script>
  <script>
  var categories = [];
  var data = [];
  var change_data = {{ income_changes|jsonify }};
  var income_changes_percent = {{ income_changes_percent|jsonify }};
  var income_with_changes = {{ income_with_changes|jsonify }};

  {% for income in object_list %}
    categories.push('{{ income.timestamp|date:"SHORT_DATE_FORMAT" }}');
    data.push({{ income.number }});
    {% if object_list|length < forloop.counter0 %}
    {% endif %}
  {% endfor %}

  $('#income-chart').highcharts({
      title: {
          text: 'Your income chart'
      },
      xAxis: {
          categories: categories,
          crosshair: true
      },
      yAxis: {
          min: 0,
          title: {
              text: 'Income'
          }
      },
      tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
              '<td style="padding:0"><b>{point.y:,f} VND</b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true
      },
      plotOptions: {
          column: {
              pointPadding: 0.2,
              borderWidth: 0
          }
      },
      series: [{
          name: 'Income',
          data: data
      }, {
          name: 'Income with change',
          data: income_with_changes
      }]
  });

  $('#income-change-chart').highcharts({
      title: {
          text: 'Your income change chart'
      },
      xAxis: {
          categories: categories,
          crosshair: true
      },
      yAxis: {
          title: {
              text: 'Income'
          }
      },
      tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
              '<td style="padding:0"><b>{point.y:,f} VND</b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true
      },
      plotOptions: {
          column: {
              pointPadding: 0.2,
              borderWidth: 0
          }
      },
      series: [{
          name: 'Time',
          data: change_data

      }]
  });

  $('#income-change-percent-chart').highcharts({
      title: {
          text: 'Your income percent change chart'
      },
      xAxis: {
          categories: categories,
          crosshair: true
      },
      yAxis: {
          title: {
              text: 'Income'
          }
      },
      tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
              '<td style="padding:0"><b>{point.y:.2f}%</b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true
      },
      plotOptions: {
          column: {
              pointPadding: 0.2,
              borderWidth: 0
          }
      },
      series: [{
          name: 'Time',
          data: income_changes_percent
      }]
  });
  </script>
{% endblock %}
