{% extends "common/password_reset.html" %}
{%  load i18n %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
        {% if validlink %}
            <form method="post" id="change_password_form" class="form-horizontal">

                {% csrf_token %}
                <fieldset>
                    <legend>{%  block form_legend %}{% trans "Please update your password to reset it." %}{%  endblock %}</legend>
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3">
                            {% include "general/form_render.html" %}
                            <div class="form-group">
                                <div class="col-lg-9 col-lg-offset-3">
                                    <button type="submit" id="id_login"
                                            class="btn btn-primary">{%  block form_button %}{% trans 'Reset password' %}{%  endblock %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        {%  else %}
            <div class="alert alert-danger">The password reset link was invalid</div>
        {%  endif %}
        </div>
    </div>
{% endblock %}

